.main-footer {
  color: #575757;
  background: url("../images/textures/red-swirls-tile.png") repeat;
  box-shadow: 5px -5px 5px mainBoxShadowColor;
  margin-top: 20px;
  padding: 20px 0 25px 0;
}
.main-footer .footer-link-title {
  margin-bottom: 8px;
}
.main-footer address {
  font-style: normal;
}
