/**** MISC STYLING *****/
.litebox.overlay {
  z-index: 100 !important;
  background-color: rgba(0,0,0,0.75) !important;
}
.litebox.overlay img {
  max-width: 90% !important;
  max-height: 90% !important;
  border-radius: 3px;
}
/**** END MISC STYLING *****/

	.c-link-footer {
		padding: 0;
	}
