body {
  background: url("../images/kindajean_bg_dark.png") repeat;
}
#body-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/**** TEXT STYLING *****/
.main-page-title {
  font-family: 'Crimson Text', serif;
  color: #fff;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.5px;
}
.main-page-title,
.menu-link-title,
.footer-link-title {
  text-shadow: 2px 2px 3px #322;
}
.menu-link-title,
.footer-link-title {
  font-weight: 300;
}
.menu-link-title {
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Open Sans', serif;
  letter-spacing: 1.5px;
}
.menu-link-wrapper.active .menu-link-title {
  font-weight: bold;
}
.c-link-title {
  font-weight: 300;
  color: #fff;
}
.c-link-title:hover,
.c-link-title:focus,
.c-link-title:active {
  color: #ccc;
}
body,
p,
ul,
li,
span,
div,
* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: 'Crimson Text', serif;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
  letter-spacing: -0.05rem;
}
a {
  text-decoration: none;
  color: #f55;
}
a:hover,
a:focus,
a:active {
  color: #f11;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
p a {
  color: #f55;
  font-size: inherit;
  line-height: inherit;
}
p a:hover,
p a:focus,
p a:active {
  color: #f11;
}
#main-page-subtitle {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 1px;
}
.c-link-subtitle,
.post-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}
.c-link-back .c-link-anchor .c-link-title {
  color: #fff;
}
.c-link-back .c-link-anchor .c-link-title:hover {
  color: #d9d9d9;
}
.c-link-back .c-link-anchor .c-link-title:hover span.glyphicon {
  color: #d9d9d9;
}
.post-back .post-anchor .post-title {
  color: #fff;
}
.post-back .post-anchor .post-title span.glyphicon {
  color: #fff;
}
.post-back .post-anchor .post-title:hover {
  color: #d9d9d9;
}
.post-back .post-anchor .post-title:hover span.glyphicon {
  color: #d9d9d9;
}
.c-link-back .c-link-title {
  font-size: 60px;
  line-height: 60px;
}
.c-link-back .c-link-title span.glyphicon {
  font-size: 48px;
  line-height: 48px;
}
.c-link-snippet p {
  font-size: 1.7rem;
}
.c-link-snippet p a {
  font-size: inherit;
}
.c-link-anchor,
.post-anchor {
  font-size: 16px;
  font-weight: 700;
}
.post-anchor {
  font-size: 32px;
}
.post-anchor span.glyphicon {
  font-size: 26px;
  color: #f55;
}
.post-anchor:hover span.glyphicon {
  color: #f11;
}
.post-anchor .c-link-title {
  color: #f55;
}
.post-anchor .c-link-title:hover,
.post-anchor .c-link-title:focus,
.post-anchor .c-link-title:active {
  color: #f11;
}
/**** END TEXT STYLING *****/
.main-container {
  margin-top: 90px;
}
#main-content-grid {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.content-tile {
  box-sizing: border-box;
  width: 100%;
}
.content-tile article {
  position: relative;
}
.content-tile article.c-link-snippet {
  padding: 15px;
}
.content-tile article.c-link-post .c-link-content {
  margin: 0 0 13px 0;
}
.content-tile article.c-link-post .c-link-content p {
  margin-bottom: 0;
}
.content-tile hr {
  margin: 15px 0;
}
.content-tile.content-tile-half {
  width: 50%;
}
.content-tile.content-tile-full,
.content-tile.app-content-tile {
  width: 100% !important;
}
.content-tile.c-tile-snippet {
  padding-top: 10px;
}
.content-tile.c-tile-snippet article {
  background: none;
  box-shadow: none;
  padding: 0;
}
.c-link-header {
  padding: 0 0 10px 0;
}
.c-link-footer {
  padding: 5px 15px 15px 15px;
}
.post-container {
  padding-left: 30px;
  padding-right: 30px;
}
.main-page-title,
.post-title {
  margin-top: 0;
  margin-bottom: 0;
}
.c-link-title {
  text-shadow: 2px 2px 3px #111;
  margin-bottom: 6px;
}
.c-link-subtitle,
.post-subtitle {
  margin-top: 0;
}
.c-link-post .c-link-subtitle {
  display: inline-block;
}
.c-link-anchor img {
  margin-bottom: 10px;
  border-radius: 3px;
}
.c-tile-menu {
  margin-bottom: 0px;
}
.c-link-back,
.post-back {
  min-height: 250px/2;
}
.c-link-back,
.post-back {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-content {
  margin-top: 10px;
}
.c-link-splash-img,
.c-link-image {
  width: 100%;
  border-radius: 3px;
}
.c-link-read-more {
  font-weight: 300;
}
.menu-link-container {
  position: fixed;
  top: 0;
  bottom: auto;
  width: 100%;
  background: url("../images/red-swirls-tile.png") repeat;
  box-shadow: 0 5px 5px #070707;
  z-index: 30;
}
.menu-link-container .twelve.columns {
  display: flex;
  flex-direction: row;
}
.menu-link-wrapper .menu-link-text {
  color: #ccc;
}
.menu-link-wrapper.active .menu-link-anchor {
  color: #fff;
}
.menu-link-spacer {
  height: 50%;
}
.menu-link {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.menu-link-title {
  margin: 0;
}
.menu-link-anchor {
  display: flex;
  align-items: center;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.menu-link-text {
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}
.main-page-title {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  bottom: 3px;
}
.main-page-title .dot {
  color: #ddd;
  font-size: 3rem;
  line-height: 3rem;
  padding: 0 2px;
}
.nav-link--mobile {
  height: 40px;
  line-height: 40px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-link--mobile.active {
  color: #1a1a1a;
}
.hidden-link-container {
  position: fixed;
  top: 59px;
  width: 100%;
  background: url("../images/red-swirls-tile.png") repeat;
  box-shadow: 0 5px 5px #070707;
  z-index: 29;
}
.hidden-link-container .nav-wrapper--drawer {
  display: flex;
}
.hidden-link-container .nav-wrapper--drawer nav.menu-link-wrapper {
  flex: 1 1 auto;
}
.hidden-link-container .nav-wrapper--drawer nav.menu-link-wrapper .menu-link-text {
  text-align: center;
}
.template--post {
  padding-bottom: 50px;
}
.template--post img {
  height: auto;
  width: 100%;
  border-radius: 3px;
}
.template--post .content-tile {
  width: auto;
  padding-bottom: 40px;
}
.main-footer {
  color: #575757;
  background: url("../images/red-swirls-tile.png") repeat;
  box-shadow: 5px -5px 5px #070707;
  margin-top: 20px;
  padding: 20px 0 25px 0;
}
.main-footer .footer-link-title {
  margin-bottom: 8px;
}
.main-footer address {
  font-style: normal;
}
h1 {
  font-size: 3rem;
  line-height: 3rem;
}
h2 {
  font-size: 2.7rem;
  line-height: 2.7rem;
}
h3 {
  font-size: 2.25rem;
  line-height: 2.25rem;
}
h4 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}
h5 {
  font-size: 1.35rem;
  line-height: 1.35rem;
}
h6 {
  font-size: 1.125rem;
  line-height: 1.125rem;
}
.nav-wrapper--mobile {
  display: flex !important;
}
.nav-wrapper--mobile #main-title-wrapper {
  flex: 3 1 auto;
}
.nav-wrapper--mobile .nav-link-wrapper {
  flex: 1 1 auto;
}
.nav-wrapper--mobile .nav-link-wrapper {
  text-align: right;
}
.nav-wrapper--desktop {
  display: none !important;
}
.content-tile {
  padding-bottom: 30px;
}
#main-content-grid > .content-tile {
  padding-left: 0;
  padding-right: 0;
}
.content-tile.c-tile-snippet .c-link-content p {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-weight: 300;
}
.hidden-link-container {
  display: none;
}
.hidden-link-container.active {
  display: block;
}
@media (min-width: 400px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  h3 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h4 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  h5 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  h6 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .menu-link-title {
    font-size: 1.875rem;
  }
}
@media (min-width: 550px) {
  .content-tile {
    padding-bottom: 60px;
    width: 50%;
  }
  #main-content-grid > div:nth-of-type(2n+1) {
    padding-right: 15px;
  }
  #main-content-grid > div:nth-of-type(2n) {
    padding-left: 15px;
  }
}
@media (min-width: 750px) {
  .main-footer {
    margin-top: 0;
  }
  .hidden-link-container {
    display: none !important;
  }
  .hidden-link-container.active {
    display: none !important;
  }
  .nav-wrapper--mobile {
    display: none !important;
  }
  .nav-wrapper--desktop {
    display: flex !important;
  }
  .nav-wrapper--desktop #main-title-wrapper {
    flex: 3 1 auto;
  }
  .nav-wrapper--desktop .menu-link-1 {
    flex: 1 1 auto;
  }
  .nav-wrapper--desktop .menu-link-2 {
    flex: 1 1 auto;
  }
  .nav-wrapper--desktop .menu-link-3 {
    flex: 1 1 auto;
  }
  .content-tile {
    padding-bottom: 90px;
  }
  .content-tile.c-tile-snippet .c-link-content p {
    font-size: 2.5rem;
  }
  .content-tile.c-tile-snippet .c-link-content p a {
    font-weight: inherit;
  }
  #main-content-grid > div:nth-of-type(2n+1) {
    padding-right: 30px;
  }
  #main-content-grid > div:nth-of-type(2n) {
    padding-left: 30px;
  }
}
/**** MISC STYLING *****/
.litebox.overlay {
  z-index: 100 !important;
  background-color: rgba(0,0,0,0.75) !important;
}
.litebox.overlay img {
  max-width: 90% !important;
  max-height: 90% !important;
  border-radius: 3px;
}
/**** END MISC STYLING *****/

	.c-link-footer {
		padding: 0;
	}
