{{!-- For image links --}}

<div class="content-tile content-type-image-link">
    <a class="content-image-link" href="{{contentHref}}">
        <h3 class="content-title">{{contentTitle}}</h3>
        <img class="content-img content-img-link" src="{{contentImgSrc}}">
    </a>
</div>
