{{!-- For text-only content. Assumed to be one paragraph! --}}

<div class="content-tile content-type-text">
    <h3 class="content-title">{{contentTitle}}</h3>
    <p class="content-text">{{contentText}}</p>
</div>
